include:
  - project: earthscope/infrastructure/gitlab-ci
    ref: "$GITLAB_CI_LIB_VERSION"
    file:
      - project-template-image-matrix.yml
    rules:
      - exists:
          - gitlab-ci
        when: never
      - when: always
  - local: gitlab-ci/project-template-image-matrix.yml
    rules:
      - exists:
          - gitlab-ci
        when: always
      - when: never

.images_matrix:
  # - DOCKERFILE_RELPATH: "geolab-default"
  # - DOCKERFILE_RELPATH: "mspass_shortcourse"
  # - DOCKERFILE_RELPATH: "mt_shortcourse"
  - DOCKERFILE_RELPATH: "virtual_desktop"

variables:
  CONTAINER_REGISTRY_PLATFORM: "AWS-PUB"
  DOCKERFILE_RELPATH_IS_IMAGE_NAME: "true"
  GITLAB_HOSTED_RUNNER_SIZE: "saas-linux-medium-amd64"
