# Environment we need *on top* of base PANGEO stack
# Get list of pangeo packages from https://github.com/pangeo-data/pangeo-docker-images/blob/master/pangeo-notebook/packages.txt
# BUT REMEMBER TO PICK THE HASH THAT CORRESPONDS TO OUR BASE IMAGE
channels:
  - conda-forge

dependencies:
  # Packages required by ES
  - tiledb
  - pip
  - pip:
  # Pin jupyterhub and pydantic to older version because of https://github.com/NASA-IMPACT/veda-jupyterhub/issues/52#issuecomment-2277453902
    - awswrangler
    - dascore
    - earthscope-sdk==1.2.0b0
    - earthscope-cli==1.0.1
    - earthscopestraintools
    - hypoinvpy
    - gnssrefl
    - jupyter_contrib_nbextensions
    - jupyterlab_jupyterbook_navigation
    - jupyter-remote-desktop-proxy
    - jupyter-resource-usage
    # - jupyterhub<5.0.0
    - obspy==1.4.1
    # - pydantic<2.0
    - pygmt==0.14.2
    - pynlloc
    - pyocto
    - pyrocko
    